.heading {
    background-color: #3c3c3c;
    color: white;
    text-align: center; 
    padding: 10px; 
}

.card {
    margin: 20px 0px;  
    padding: 10px;  
}

.orange {
    background-color: orange;
    color: white; 
}

.purple {
    background-color: purple;
    color: white; 
}